certifi==2019.3.9
Click==7.0
cycler==0.10.0
dominate==2.3.5
dukpy==0.2.2
Flask==1.0.2
future==0.17.1
itsdangerous==1.1.0
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.2
Pillow==6.2.0
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
pymongo==3.7.2
pyparsing==2.3.1
python-dateutil==2.8.0
redis==3.2.0
six==1.12.0
snownlp==0.12.3
tornado==6.0.1
visitor==0.1.3
Werkzeug==0.14.1
wordcloud==1.5.0
WTForms==2.2.1
