<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/css/404.css" rel="stylesheet" type="text/css" media="all"/>
<body>
<div class="container-w3layouts  text-center" style="margin-top: 6%">
    <h2 class="txt-wthree">404 Not Found</h2>
    <p>Looks like the page you are trying to visit does not exist.</p>
    <p> Please check the URL and Try again.</p>
</div>
<div class="w3_agile-footer" style="margin-top: 2%">
    <p style="font-size: 20px">Copyright © <a href="https://github.com/fgksgf">@Hoshea</a> 2019-2020 | Powered by <a
                    href="http://flask.pocoo.org/">Flask</a></p>
</div>
</body>

</html>