<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>网络数据采集与可视化系统</title>
    {% endif %}

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div id="brand">
            <h1 class="masthead-brand">网络数据采集与可视化</h1>
        </div>
        <nav class="nav nav-masthead justify-content-center" style="font-size: 20px;margin-right: 10%">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Admin</a>
        </nav>
    </header>

    {% block app_content %}{% endblock %}

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p style="font-size: 20px">Copyright © <a href="https://github.com/fgksgf">@Hoshea</a> 2019-2020 | Powered by <a
                    href="http://flask.pocoo.org/">Flask</a></p>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jd.js"></script>
</body>
</html>