<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>分布式网络数据采集与可视化系统</title>

    {% for jsfile_name in script_list %}
    <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">京东商品评论数据分析</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- 左侧边栏 -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="home"></span>
                            商品基本信息
                        </a>
                    </li>
                </ul>

                <h3 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>数据可视化</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h3>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link {% if chart_type == 1 %}active{% endif %}" href="../bar/{{pid}}">
                            <span data-feather="file-text"></span>
                            条形图
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if chart_type == 2 %}active{% endif %}" href="../pie/{{pid}}">
                            <span data-feather="file-text"></span>
                            饼图
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if chart_type == 3 %}active{% endif %}" href="../wordcloud/{{pid}}">
                            <span data-feather="file-text"></span>
                            词云图
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- 右侧图形区域 -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {{ myechart }}
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.js"></script>

</body>
</html>
