{% extends "base.html" %}

{% block app_content %}
    <main role="main" class="inner cover">
        <h2 class="cover-heading">京东商品评论爬虫</h2>
        <p class="lead">爬取指定商品的所有评论信息，进行数据分析与可视化。</p>
        <form style="width: 80%; margin:auto">
            <div class="form-group" style="width: 70%; margin: auto">
                <input id="url-input" type="text" class="form-control" aria-describedby="urlHelp"
                       placeholder="请输入商品详情页URL">
                <small id="urlHelp" class="form-text text-muted">例：https://item.jd.com/22042025230.html
                </small>
                <br>
                <div style="margin-right: 2%">
                    <button type="button" id="btn1" class="btn btn-secondary">开始爬取</button>
                </div>
            </div>
        </form>
        <div class="alert alert-dark fade show" role="alert" style="display: none;">
            <strong>正在处理，请稍候......</strong>
        </div>
        <p>

        </p>
    </main>
{% endblock %}

